<!--
*  REFERENCES
*  Title: Django Registration
*  URL: https://www.pythontutorial.net/django-tutorial/django-registration/
-->

{% extends 'base.html' %}

{% block content %}
    <section class="landing-section landing-main">
        <form method="POST" class="card landing-section-content4" novalidate>
            {% csrf_token %}
            <h2>Sign up for Study Spotter</h2>

            {% for field in form %}
            <p>
                {% if field.errors %}
                <ul class="errorlist">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {{ field.label_tag }}
                <br>
                {{ field }}
            </p>
            {% endfor %}
            <input type="submit" value="Register" />
            <br>
            <p class="text-center"><a href="/">Back to homepage</a></p>
        </form>
    </section>
{% endblock content%}